DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
DATABASE_URL_UNPOOLED=
ADMIN_EMAIL="nathaliegarcia@maiabusiness.com"
ADMIN_PASSWORD="Ma1a2727!!@"
SITE_URL="https://off.maiabusiness.com"
NEXT_PUBLIC_SITE_URL="https://off.maiabusiness.com"
NEXT_PUBLIC_APP_URL="https://off.maiabusiness.com"
RESEND_API_KEY=""
OFF_FROM_EMAIL="OFF <off@maiabusiness.com>"
FROM_EMAIL="OFF <off@maiabusiness.com>"
USER_CODE_SECRET=""
BLOB_READ_WRITE_TOKEN=""
